################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeworkWebsite/bin/Debug/net9.0
/HomeworkWebsite/obj
/.vs
/HomeworkWebsite/.vs/HomeworkWebsite
